<div class="container">
  <div>
    <span class="content">
      <div class="header">
        <span class="title" [ngStyle]="{'color': color}">{{title}}</span>
        <div>
          <span class="material-symbols-outlined" *ngIf='AdminStatus'>
            close
          </span>
        </div>
      </div>
      <div class="text">
      <p>{{text}}</p>
      <form action={{link}}>
        <button type="submit">Ir al proyecto</button>
     </form>
    </div>
    </span>
  </div>
  <div class="line" [ngStyle]="{'background-color': color}"></div>
</div>
